@import "./global-variables.scss";
@import "./global-mixins.scss";
@import "../../../theme/fonts.scss";

.cio-green-button {
    @include cio-button($cio-button-height, $cio-width-hundred-percent, $cio-white-color);
    --background: #63aa00;
    --background-activated:#000;
    --box-shadow: 0 0 24px 0 rgba(142, 198, 64, 0.5);
    --border-radius: 60px;
}

.cio-black-button {
    @include cio-button($cio-button-height, $cio-width-hundred-percent, $cio-white-color);
    --border-radius: 60px;
    --background: #2e2e2e;
    --background-activated:#000;
    --box-shadow: 0 0 24px 0 rgba(142, 198, 64, 0.5);
}

.tab-text {
    font-size: 14px;
}

.cio-card {
    border-radius: 8px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
    min-height: 220px;
    background-color: #ffffff;
}

.font-common {
    font-family: Raleway;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
}

.cio-font-normal {
    font-weight: normal;
}

.cio-card-header {
    height: 90px;
    background-color: #00565b;
}

.cio-detail-page-card-header {
    height: 129px;
}

.cio-info-btn {
    border-radius: 11px;
    height: 22px;
    border: 1px solid #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: 0.7px;
    text-align: left;
}

.card-info-row {
    padding-top: 12px;
    margin-left: 12px;
}

.card-date-row {
    margin-left: 16px;
    margin-right: 16px;
}

.date-info {
    float: right;
}

.font-white-color {
    color: #ffffff;
}

.card-body {
    margin: 16px;
    background: #ffffff;
}

.icon-detail-page-close {
    color: #ffffff;
    height: 30px;
    width: 30px;
    float: right;
    font-size: 14px;
    margin-right: 8px;
    margin-top: 5px;
}

.survey-ques {
    font-size: 21px;
  font-weight: 500;
  text-align: left;
  color: #2e2e2e;
  line-height: 1.21;
}

.cio-font-bold {
    font-weight: bold;
}

.survey-grey-btn {
    width: 100%;
    height: 51px;
    --border-radius: 25.5px;
    --background: #b8b8b8;
    --background-activated: #000000;
    text-transform: uppercase;
}