$cio-button-border-radius: 60px;
$cio-green-color: #63aa00;
$cio-black-color: #000;
$cio-button-height: 51px;
$cio-width-hundred-percent: 100%;
$cio-button-height: 51px;
$cio-white-color: #fff;
$cio-raleway-family: Raleway;
$cio-font-bold: bold;
$cio-button-text-font-size: 16px;