@import '../../common/scss/globa-styles.scss';

.icon-menu {
    color: #999999;
}

.cio-logo {
    float: left;
    padding-left: 10px;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0 0;
}

.tab-selected {
    color:#63aa00;
}