<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
          <ion-menu-button class="icon-menu"></ion-menu-button>
      </ion-buttons>
          <img src="assets/cio_banner_logo.png" class="cio-logo" />
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
      <ion-tab-bar slot="bottom">
          <ion-tab-button tab="survey">
                <ion-icon name="clipboard"></ion-icon>
              <ion-label class="tab-text">Survey</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="impacts">
              <ion-icon name="build"></ion-icon>
              <ion-label class="tab-text">Impacts</ion-label>
          </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-content>