@import "../../scss/globa-styles.scss";

.card-survey-type {
    --background: #ffffff;
    --color: #00565b;
}

.card-survey-status {
    --background: #00565b;
    --color: #ffffff;
    margin-left: 8px;
}