<div class="survey-btn">
    <ng-container *ngIf="!surveyDetailBodyData.answered">
        <ng-container *ngFor="let ques of surveyDetailBodyData.questions[0].options; let i = index;">
            <div (click)="selectOption(i)" [ngClass]="buttonSelected===i? 'btn-selected-color':'btn-unselected-color'" class="survey-ques-btn">
                <ion-row>
                    <ion-col class="font-common btn-txt ion-text-left cio-font-bold" size="1">
                        {{getOption(i)}}
                    </ion-col>
                    <ion-col class="font-common btn-txt ion-text-left cio-font-bold" size="11">
                        {{ques}}
                    </ion-col>
                </ion-row>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="surveyDetailBodyData.answered">
        <ng-container *ngFor="let ques of surveyDetailBodyData.questions[0].options; let i = index;">
            <cio-survey-answered-btn [optionIndex]="i" [quesPercentAnswered]="getPercent(i)" [surveyDetailBodyData]="surveyDetailBodyData" [option]="ques"
                [optionName]="getOption(i)">
            </cio-survey-answered-btn>
        </ng-container>
    </ng-container>
    <ion-button *ngIf="!surveyDetailBodyData.answered" [ngClass]="enableSubmit?'enableSubmit':''" class="font-common cio-font-bold btn-txt survey-grey-btn">Submit</ion-button>
</div>