@import "../../scss/globa-styles.scss";

.survey-btn {
    width: 100%;
    margin-top: 20px;
}

.survey-ques-btn {
    width: 100%;
    height: 51px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17.5px;
    color: #ffffff;
    margin-bottom: 16px;
}

.ion-text-left {
    text-align: left !important;
    font-size: 16px;
}

.btn-selected-color {
    background: #00565b;
}

.btn-unselected-color {
    background: #00A4B6;
}