    .no-content-section {
        text-align: center;
        margin-top: 50%;
    }

    .empty-content {
        height: 26px;
        font-family: Raleway;
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: center;
        color: #2e2e2e;
    }

    .pull-refresh {
        height: 19px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        color: #2e2e2e;
        padding-top: 20px;
    }

    .info-circle {
        width: 50px;
        height: 50px;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #2e2e2e;
    }