    @import "../../scss/globa-styles.scss";

    .no-content-section {
        text-align: center;
        margin-top: 50%;
    }

    .empty-content {
        height: 26px;
        font-size: 22px;
        line-height: 1.18;
        color: #2e2e2e;
    }

    .pull-refresh {
        height: 19px;
        font-size: 16px;
        line-height: 1.19;
        color: #2e2e2e;
        padding-top: 20px;
    }

    .info-circle {
        width: 50px;
        height: 50px;
        font-size: 50px;
        line-height: 1.2;
        color: #2e2e2e;
    }